[submodule "bundle/FuzzyFinder"]
    path = bundle/FuzzyFinder
    url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/L9"]
    path = bundle/L9
    url = https://github.com/vim-scripts/L9.git
[submodule "bundle/vundle"]
    path = bundle/vundle
    url = https://github.com/gmarik/vundle.git
[submodule "vim-scripts/fcitx.vim"]
    path = bundle/fcitx.vim
    url = https://github.com/vim-scripts/fcitx.vim.git
[submodule "tpope/vim-rails"]
    path = bundle/vim-rails
    url = https://github.com/tpope/vim-rails.git
[submodule "scrooloose/nerdtree"]
    path = bundle/nerdtree
    url = https://github.com/scrooloose/nerdtree.git
[submodule "vim-scripts/mru.vim"]
    path = bundle/mru.vim
    url = https://github.com/vim-scripts/mru.vim.git
